<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Module configuration for simplesamlphp authentication.
 *
 * @author Andreas Jonsson
 */
 -->
<config>
  <modules>
    <Kreablo_SimpleSamlAuth>
      <version>1.0</version>
    </Kreablo_SimpleSamlAuth>
  </modules>
  <global>
    <helpers>
      <kreablo_simplesamlauth>
        <class>Kreablo_SimpleSamlAuth_Helper</class>
      </kreablo_simplesamlauth>
    </helpers>
    <blocks>
      <kreablo_simplesamlauth>
        <class>Kreablo_SimpleSamlAuth_Block</class>
      </kreablo_simplesamlauth>
    </blocks>
  </global>
  <adminhtml>
    <layout>
      <updates>
        <kreablo_simplesamlauth>
          <file>kreablo_simplesamlauth.xml</file>
        </kreablo_simplesamlauth>
      </updates>
    </layout>
  </adminhtml>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Kreablo_SimpleSamlAuth before="Mage_Adminhtml">Kreablo_SimpleSamlAuth_Adminhtml</Kreablo_SimpleSamlAuth>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <kreablo_simplesamlauth>
          <file>kreablo_simplesamlauth.xml</file>
        </kreablo_simplesamlauth>
      </updates>
    </layout>
  </adminhtml>
  <default>
    <simplesamlauth>
      <simplesamlphp>
        <installation_path>/usr/share/simplesamlphp</installation_path>
      </simplesamlphp>
    </simplesamlauth>
  </default>
</config>