<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Module configuration for simplesamlphp authentication.
 *
 * @author Andreas Jonsson
 */
 -->
<config>
  <modules>
    <Kreablo_SimpleSamlAuth>
      <version>1.1.0</version>
    </Kreablo_SimpleSamlAuth>
  </modules>
  <global>
    <helpers>
      <kreablo_simplesamlauth>
        <class>Kreablo_SimpleSamlAuth_Helper</class>
      </kreablo_simplesamlauth>
    </helpers>
    <models>
      <kreablo_simplesamlauth>
        <class>Kreablo_SimpleSamlAuth_Model</class>
      </kreablo_simplesamlauth>
      <kreablo_simplesamlauth_userassoc>
        <class>Kreablo_SimpleSamlAuth_Model_UserAssoc</class>
        <resourceModel>kreablo_simplesamlauth_userassoc_resource</resourceModel>
      </kreablo_simplesamlauth_userassoc>
      <kreablo_simplesamlauth_userassoc_resource>
        <class>Kreablo_SimpleSamlAuth_Model_Resource</class>
        <entities>
          <userAssoc>
            <table>kreablo_simplesamlauth_userassoc</table>
          </userAssoc>
        </entities>
      </kreablo_simplesamlauth_userassoc_resource>
    </models>
    <resources>
      <kreablo_simplesamlauth_setup>
        <setup>
          <module>Kreablo_SimpleSamlAuth</module>
          <class>Mage_Core_Model_Resource_Setup</class>
        </setup>
      </kreablo_simplesamlauth_setup>
    </resources>
  </global>
  <frontend>
    <layout>
      <updates>
        <kreablo_simplesamlauth>
          <file>kreablo_simplesamlauth.xml</file>
        </kreablo_simplesamlauth>
      </updates>
    </layout>
    <routers>
      <kreablo_simplesamlauth>
        <use>standard</use>
        <args>
          <module>Kreablo_SimpleSamlAuth</module>
          <frontName>simplesamlauth_login</frontName>
        </args>
      </kreablo_simplesamlauth>
    </routers>
    <events>
      <customer_session_init>
        <observers>
          <kreablo_simplesamlauth>
            <class>kreablo_simplesamlauth/observer</class>
            <method>initiateCustomerSession</method>
          </kreablo_simplesamlauth>
        </observers>
      </customer_session_init>
    </events>
    <translate>
      <modules>
        <kreablo_simplesamlauth>
          <files>
            <default>Kreablo_SimpleSamlAuth.csv</default>
          </files>
        </kreablo_simplesamlauth>
      </modules>
    </translate>
  </frontend>
  <default>
    <simplesamlauth>
      <simplesamlphp>
        <sp>default-sp</sp>
        <installation_path>/usr/share/simplesamlphp</installation_path>
        <email_attribute>mail</email_attribute>
        <login_link_icon>https://rnd.feide.no/files/simplesamlphp-s.png</login_link_icon>
        <userassoc_enabled>0</userassoc_enabled>
      </simplesamlphp>
    </simplesamlauth>
  </default>
</config>