<?xml version="1.0"?>
<config>
  <sections>
    <simplesamlauth translate="label" module="kreablo_simplesamlauth">
      <class>separator-top</class>
      <label>Simple Saml Auth</label>
      <tab>general</tab>
      <frontend_type>text</frontend_type>
      <sort_order>500</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <simplesamlphp translate="label" module="kreablo_simplesamlauth">
          <label>SimpleSAMLphp</label>
          <frontend_type>text</frontend_type>
          <sort_order>100</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <enabled translate="label" module="kreablo_simplesamlauth">
              <label>Enable simpleSAMLphp authentication.</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
            <userassoc_enabled translate="label" module="kreablo_simplesamlauth">
              <label>Enable SAML user account association.</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </userassoc_enabled>
            <sp translate="label comment" module="kreablo_simplesamlauth">
              <label>SimpleSAMLphp authentication source</label>
              <comment>The simplesaml authentication source, eg, default-sp.</comment>
              <sort_order>10</sort_order>
              <depends><enabled>1</enabled></depends>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </sp>
            <installation_path translate="label comment" module="kreablo_simplesamlauth">
              <label>SimpleSAMLphp installation path</label>
              <comment>The directory where simplesamlphp is installed.  Default: /usr/share/simplesamlphp</comment>
              <sort_order>20</sort_order>
              <depends><enabled>1</enabled></depends>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </installation_path>
            <email_attribute translate="label" module="kreablo_simplesamlauth">
              <label>Email attribute</label>
              <depends><enabled>1</enabled></depends>
              <validate>required-entry</validate>
              <sort_order>60</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </email_attribute>
            <login_link_text translate="label comment" module="kreablo_simplesamlauth">
              <label>Text for login link</label>
              <comment>A text for rendering the login link.  A generic message will be used if this is empty.</comment>
              <sort_order>400</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </login_link_text>
            <login_link_icon translate="label comment" module="kreablo_simplesamlauth">
              <label>Icon for login link</label>
              <comment>An URL to an image that will be used to render the login link.</comment>
              <sort_order>500</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </login_link_icon>
          </fields>
        </simplesamlphp>
        <attribute_mappings translate="label" module="kreablo_simplesamlauth">
          <depends><enabled>1</enabled></depends>
          <label>Attribute mappings</label>
          <frontend_type>text</frontend_type>
          <sort_order>200</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <surname_attribute translate="label" module="kreablo_simplesamlauth">
              <label>Surname attribute</label>
              <sort_order>50</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </surname_attribute>
            <given_name_attribute translate="label" module="kreablo_simplesamlauth">
              <label>Given name attribute</label>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </given_name_attribute>
            <custom_attributes translate="label comment" module="kreablo_simplesamlauth">
              <label>Custom attributes</label>
              <comment>Semi-colon separated list of pairs on the form &amp;lt;source attribute&amp;gt;=&amp;lt;target attribute&amp;gt;.  Example "school=customer_school_id;telephone=customer_telephone".  Backslash may be used as an escape character.</comment>
              <sort_order>100</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </custom_attributes>
          </fields>
        </attribute_mappings>
      </groups>
    </simplesamlauth>
  </sections>
</config>